.TitleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #007acc;
    color: #fff;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
    -webkit-app-region: drag;
}

.TitleBar .name {
    font-weight: 700;
    text-transform: uppercase;
}

.TitleBar .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 5px; */
    -webkit-app-region: no-drag;
}


.TitleBar a, .TitleBar span {
    text-decoration: none;
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.menu .menu-item .submenu {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 22px;
    min-width: 180px;
    z-index: 100;
    background-color: #2d2f31;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 3px 10px #000;
}

.menu .menu-item .hidden {
    display: none;
}


.menu .menu-item .label {
    padding-right: 4px;
}

.menu .menu-item .label:hover {
    color: #bbb;
}

.menu .menu-item .submenu .item {
    color: #bbb;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 10px;
}

.menu .menu-item .submenu .item:hover {
    background-color: #3d4042;
}